<!doctype html>

<html>
	<head>
		<title>{{ title }} - GeoJSON Imager </title>
	</head>

	<body>

		<div class="base-title-heading">
			<h1> GeoJSON Imager </h1>
		</div>
		
		<div class="base-title-details">
			<ul>
				<li> <a href="/index">Return To Home</a> </li>
				<li> About </li>
			</ul>
		</div>

		<hr>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
		{% block content %}{% endblock %}

	</body>
</html>