<!doctype html>

<html lang="en">

	<head>
	{% block head %}
		<link rel="stylesheet" href="../static/css/style.css">
		<title> {{ title }} </title>
	{% endblock head %}
	</head>

	
	<body class="base-content">
	{% block content %}
		
		<header class="base-header"> 
		{% block header %}

		{% endblock header %}
		</header>

		
		<nav class="base-nav">
		{% block nav %}


		{% endblock nav %}
		</nav>


		<main class="base-main">
		{% block main %}

			<div class="main-container">
				<p> Main Block </p>
			</main>div>
			
		{% endblock main %}
		</main>


		<footer class="base-footer">
		{% block footer %}

			<div class="footer-container">
				<p> Base Footer  </p> 
			</div>

		{% endblock footer %}
		</footer>
	

	{% endblock content %}
	</body>
</html>