<!doctype html>

<html>
	<head>
		<title>{{ title }} - GeoJSON Imager </title>
	</head>

	<body>

		<div class="base-title-heading">
			<h1> GeoJSON Imager </h1>
		</div>
		
		<div class="base-title-details">
			<p> 
				CS 361: Software Engineering I 
				<br/>
				Author: Chris Jacobs
				<br/>
				Team Name: 5mod2
			</p>
		</div>

		<hr>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <hr>
		{% block content %}{% endblock %}

	</body>
</html>