{% extends "base.html" %}

{% block content %}

    <!-- <script>
        window.addEventListener("beforeunload", function (e) {
        var confirmationMessage = 'You have unsaved data. Are you sure you want to leave this page?' + 
                                    'Your data will not be saved.';

        (e || window.event).returnValue = confirmationMessage;
        return confirmationMessage; 
        });
    </script> -->

	<h3> Create Account </h3>

    <form action="" method="post" novalidate>
        
        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}
            <br>
            {{ form.username(size=32) }}
        </p>
        
        <p>
            {{ form.password.label }}
            <br>
            {{ form.password(size=32) }}
        </p>

        <p>
            {{ form.firstName.label }}
            <br>
            {{ form.firstName(size=32) }}
        </p>

        <p>
            {{ form.lastName.label }}
            <br>
            {{ form.lastName(size=32) }}
        </p>

        <p>
            {{ form.zipCode.label }}
            <br>
            {{ form.zipCode(size=32) }}
        </p>
        
        <p>{{ form.submit() }}</p>
    
    </form>

    <p>
        <a href="/index">Return To Home</a>
    </p>

{% endblock %}

