{% extends "base.html" %}

    {% block head %}
        {{ super() }}
    {% endblock head %}


    {% block content %}

        {% block header %}
            <div class="login-header-container">
                <h1> GeoJSON Imager </h1>
                <h2> {{ title }} </h2>
            </div>
        {% endblock header %}

        {% block nav %}
            <div class="login-nav-container">
                <a href="/"> Home </a>
                <br>
                <a href="/createAccount"> Create Account </a>
            </div>
        {% endblock nav %}

        {% block main %}
            <form class="login-form" action="" method="POST" novalidate>
            
                {{ form.hidden_tag() }}
                
                <p>
                    {{ form.username.label }}
                    <br>
                    {{ form.username(size=32) }}
                </p>
                
                <p>
                    {{ form.password.label }}
                    <br>
                    {{ form.password(size=32) }}
                </p>
                
                <div class="submit-login">
                    <p>
                        {{ form.submit() }}
                        <span class="login-error-alert"> 
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                <mark>{{ message }}</mark>
                                {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </span>
                    </p>
                </div>

            </form>
        {% endblock main %}

    {% endblock content %}
