<!doctype html>

<html>
    <head>
        <title>{{ title }} - GeoJSON Imager </title>
        <link rel="shortcut icon" type="image/ico" href="../static/favicon.ico"/>
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>

        <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
    </head>

    <body>

        <div class="base-title-heading">
            <h1> Map View </h1>
        </div>
        
        <div class="base-title-details">
            <p> 
                Nav Bar
            </p>
        </div>

        <div id="map-view-container" style="height: 300px;"></div>

        <script>
            var geoMap = L.map('map-view-container').setView([51.505, -0.09], 18);
            
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', 
                {
                    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                    id: 'mapbox/streets-v11',
                    tileSize: 512,
                    zoomOffset: -1,
                    accessToken: 'pk.eyJ1IjoiY2pwZHhkZXYiLCJhIjoiY2t2YWFvb2hxMDFpNTJ1bnk3dGxxenhhdSJ9.FKObwabTnBhJEg2PEAfdZw'
                }).addTo(geoMap);
            alert("{{ file_name }}")
            fetch("http://localhost:5000/getGeoJSON?fileName={{file_name}}", {
                method: "GET",
                mode:'no-cors',
                dataType: 'json'
            })
            .then(response => response.json())
            .then(response => {
                L.geoJSON(response).addTo(geoMap)
            })
            .catch(err => alert(err))
            
        </script>

        <form method="GET" action="/location" enctype="multipart/form-data">
            <lable for="zipcode"> Current Zip Code: </lable>
            <input type="text" name="zipcode">
            <input type="hidden" name="file-name" value="{{ file_name }}">
            <button type="submit" value="Submit"> Get Current Location Info </button>
        </form>

        <p> {{geoJSON_data}} </p>

        <p> {{ geoJSON_path }} </p>

        <hr>
		{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        
    </body>
</html>
